
.League, .League-container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.fontsize_1_3_rem {
  font-size: 1.3rem;
}

.League-table-team-logo {
  width: 35px;
  height: 35px;
  display: inline-block;
}

.hidden {
  display: none;
}

